{% load widget_tweaks %}

<script>
    "use strict";

    console.log("Query utilities loaded successfully"); //TODO: remove this line

    function popUA() {
        var ua_field = document.getElementById('id_user_agent');
        var ua = navigator.userAgent;
        ua_field.value = ua;
    }
</script>

{% for field in form.visible_fields %}
    <div class="form_field">
        {{ field.label_tag }}<br>
        {% if field.help_text %}
            <small>{{ field.help_text }}</small>
        {% endif %}<br>
        {% render_field field %}
    </div>
{% endfor %}
<input type="button" onclick="popUA()" value="Use my browser's User-Agent"/>
