{% load widget_tweaks %}

<script>
    "use strict";

    function popUA() {
        var ua_field = document.getElementById('id_user_agent');
        var ua = navigator.userAgent;
        ua_field.value = ua;
    }
</script>

{% for field in form.visible_fields %}
    <div class="form_field" style="margin-top:5px;margin-bottom:5px">
        <h2>{{ field.label_tag }}</h2>
        {% render_field field %}
        {% if field.help_text %}
            <p style="margin-top:2px;"><small>{{ field.help_text }}</small></p>
        {% endif %}
    </div>
{% endfor %}
<input type="button" onclick="popUA()" value="Use my browser's User-Agent"/>
